<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.melnykov.dashclock.mailruextension"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:label="@string/app_name"
                 android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
                 android:name=".MailRuExtensionApplication">

        <service android:name="com.melnykov.dashclock.mailruextension.MailRuExtension"
                 android:label="@string/extension_title"
                 android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension"/>
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="1"/>
            <meta-data android:name="description"
                       android:value="@string/extension_description"/>
            <meta-data android:name="settingsActivity"
                       android:value=".SettingsActivity"/>
        </service>

        <activity android:name=".ui.LoginActivity"
                  android:excludeFromRecents="true"
                  android:label="@string/title_login"
                  android:exported="true"/>

    </application>
</manifest>
