<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.melnykov.dashclock.mailru"
          android:versionCode="2"
          android:versionName="1.1">

    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:label="@string/app_name"
                 android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
                 android:name="com.melnykov.dashclock.mailru.MailRuExtensionApplication"
                 android:icon="@drawable/ic_launcher">

        <service android:name="com.melnykov.dashclock.mailru.MailRuExtension"
                 android:label="@string/extension_title"
                 android:icon="@drawable/ic_extension"
                 android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension"/>
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="1"/>
            <meta-data android:name="description"
                       android:value="@string/extension_description"/>
            <meta-data android:name="settingsActivity"
                       android:value=".ui.SettingsActivity"/>
        </service>

        <activity android:name="com.melnykov.dashclock.mailru.ui.SettingsActivity"
                  android:label="@string/title_settings"
                  android:exported="true" />

        <activity android:name="com.melnykov.dashclock.mailru.ui.LoginActivity"
                  android:excludeFromRecents="true"
                  android:label="@string/title_login"
                  android:exported="true"/>

    </application>
</manifest>
